.single_action_form_container {
    width: 80%;
    display: flex;
    flex-direction: column;
    position: sticky;
    padding-top: 20%;
    padding-left: 5%;
    padding-right: 5%;
}

.single_action_form_topic{
    padding-top: 24px;
    width: 50%;
}

/* Mobile */
@media (max-width: 992px) { 

    .single_action_form_container {
        width: 90%;        
        padding-top: 120px;
    } 

    .single_action_form_topic{
        width: 100%;
    } 
}